:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  body{
    margin: 0;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1336px;
    height: 877px;
    margin: 0 auto;
  }

a{
    text-decoration: none;
    list-style: none;
    color: black; 
}

a:hover{
  cursor: pointer;
  color: #bb9734;
}

.main-container {
  position: relative;
  width: 100%;
  height: 1779px;
  margin: 0 auto;
  background: #f6f3ca;
  overflow: hidden;
}

/*NAVBAR*/
.navbar {
  position: relative;
  width: 100%;
  height: 69px;
  margin: 0 0 0 0;
  background: #fdd76b;
}

.logo {
  position: absolute;
  width: 317px;
  height: 58px;
  top: 5px;
  left: 19px;
  background: url(01navbarLogo.png) center;
  background-size: cover;
}

.logo:hover{
  cursor: pointer;
}

.navbar ul{
  font-size: 22px;
  font-weight: 350;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Inter, var(--default-font-family);
  position: absolute;
  color: #000000;
  list-style: none;
  left: 350px;
  padding-left: 20px;
}

.navbar li{
  padding-left: 50px;
}

.navbar li:hover{
  cursor: pointer;
  color: #bb9734;
  font-size: 22px;
}

/* LOGIN */

.login-titulo {
  display: block;
  position: relative;
  height: 27px;
  margin: 35px 0 0 0px;
  color: #f6f3ca;
  font-family: Inter, var(--default-font-family);
  font-size: 45px;
  font-weight: 800;
  line-height: 27px;
  text-align: center;
  white-space: nowrap;
  z-index: 26;
  text-shadow: 0 3px 7px rgba(0, 0, 0, 0.315);
  }

.acesso-login {
    display: block;
    position: relative;
    height: 27px;
    margin: 25px 0 0 0px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 25px;
    font-weight: 200;
    line-height: 27px;
    text-align: center;
    white-space: nowrap;
    z-index: 30;
  }

  .login-container {
    width: 90%;
    margin-left: 450px;
    margin-top: 20px;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    font-family: Inter, var(--default-font-family);
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: lighter;
    font-size: 16px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: Inter, var(--default-font-family);
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
    font-family: Inter, var(--default-font-family);
}

.forgot-password a:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: #000000;
    background-color: #f6f3ca;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
    font-family: Inter, var(--default-font-family);
}

.login-button:hover {
  background-color: #f5e28f;
  color: #8d6a1e;
}

span{
    font-family: Inter, var(--default-font-family);
}

.register-link,
.recaptcha-info {
    margin-top: 20px;
}

.recaptcha-info{
  font-size: 13px;
  margin-top: 20px;
}

.register-link a,
.recaptcha-info a {
    color: #007bff;
    text-decoration: none;
    font-family: Inter, var(--default-font-family);
}

.register-link a:hover,
.recaptcha-info a:hover {
    text-decoration: underline;
}

  